// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Build number is updated by a build script. We prevent further changes to this
// file from being committed by using git update-index --skip-worktree path_to_this_file,
// as described here: https://stackoverflow.com/a/39776107
//
// To commit changes to this file, stop ignoring it with git update-index --no-skip-worktree path_to_this_file

KEYB_BUILD_NUMBER = 92-chore/14-name-change